/*
.container {
   margin: 0 auto;
   max-width: 1170px;
   padding: 25px;
   background: #FFFFFF;
}

.tabs {
   width: 100%;
}

.tabs__head {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #333333;
}


.tabs__tab-label {
   display: inline-block;
   background-color: #FFFFFF;
   height: 35px;
   line-height: 35px;
   min-width: 50px;
   padding: 0px 20px;
   text-align: center;
   text-decoration: none;
   color: #333333;
   margin: 0 -5px 0 0;
   border-top: 1px solid #C6CBCD;
   border-left: 1px solid #C6CBCD;
   border-right: 1px solid #C6CBCD;
   border-radius: 10px 10px 0 0;
}

.tabs__item {
   display: none;
   background-color: #fff;
   width: calc(100% - 40px);
   max-width: 100%;
   padding: 20px;
   border: 1px solid #C6CBCD;
   padding: 60px;
   display: none;
}

.tabs__info{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tabs__block {
   width: 560px;
   height: 500px;
   background-color: #FFFFFF;
}

.tabs__block img {
   width: 470px;
   height: 500px;
}

.tabs__item:target {
   display: block;
}

.tabs__item:last-child {
   display: block;
}

.tabs__item:target~.tabs__item {
   display: none;
}

.tabs__title {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   display: flex;
   align-items: center;
   color: #000000;
}

.tabs__description {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   color: #000000;
}

.tabs__button {
   width: 270px;
   height: 58px;
   background: #EC7979;
   border: 1px solid #EC7979;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   color: #FFFFFF;
}

.tabs__button:hover {
	background: #AB4949;
   border: 1px solid #AB4949;
   cursor: pointer;
}

.tabs__button:active{
   background: #EC7979;
   box-shadow: inset 0px 0px 10px #AB4949;
   cursor: pointer;
}
*/

.tabs {
   font-size: 0;
}

.tabs>input[type="radio"] {
   display: none;
}

.tabs>div {
    /* скрыть контент по умолчанию */
   display: none;
   border: 1px solid #e0e0e0;
   padding: 10px 15px;
   font-size: 16px;
}

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
   display: block;
}

.tabs>label {
   width: 150px;
   height: 30px;
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   user-select: none;
   background-color: #FFFFFF;
   border: 1px solid #e0e0e0;
   border-radius: 2px;
   padding: 5px 15px;
   font-size: 14px;
   line-height: 1.5;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
   cursor: pointer;
   position: relative;
   top: 1px;
}

.tabs>label:not(:first-of-type) {
   margin-left: -5px;
}

.tabs>input[type="radio"]:checked+label {
   background-color: #fff;
   border-bottom: 1px solid #fff;
}

.tabs {
   margin: 0 auto;
   max-width: 1170px;
   padding: 25px;
   background: #FFFFFF;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #333333;
}

.tabs {
   width: 100%;
}

.tabs__head {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #333333;
}


.tabs__tab-label {
   display: inline-block;
   background-color: #FFFFFF;
   height: 35px;
   line-height: 35px;
   min-width: 50px;
   padding: 0px 20px;
   text-align: center;
   text-decoration: none;
   color: #333333;
   margin: 0 -5px 0 0;
   border-top: 1px solid #C6CBCD;
   border-left: 1px solid #C6CBCD;
   border-right: 1px solid #C6CBCD;
   border-radius: 10px 10px 0 0;
}


.tabs__item {
   display: none;
   background-color: #fff;
   width: calc(100% - 40px);
   max-width: 100%;
   padding: 20px;
   border: 1px solid #C6CBCD;
   padding: 60px;
   /*
   display: flex;
   justify-content: space-between;
   align-items: center;
   */
   display: none;
}

.tabs__info{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tabs__block {
   width: 570px;
   height: 500px;
   background-color: #FFFFFF;
   padding-left: 80px;
}


.tabs__block img {
   width: 470px;
   height: 500px;
}

.tabs__item:target {
   display: block;
}

.tabs__item:last-child {
   display: block;
}

.tabs__item:target~.tabs__item {
   display: none;
}

.tabs__title {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   display: flex;
   align-items: center;
   color: #000000;
}

.tabs__description {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   color: #000000;
}

.tabs__button {
   width: 270px;
   height: 58px;
   background: #EC7979;
   border: 1px solid #EC7979;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   color: #FFFFFF;
}

.tabs__button:hover {
	background: #AB4949;
   border: 1px solid #AB4949;
   cursor: pointer;
}

.tabs__button:active{
   background: #EC7979;
   box-shadow: inset 0px 0px 10px #AB4949;
   cursor: pointer;
}