@media  (max-width: 1024px) {

   .banner__element {
      width: 100%;
      height: 75px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .banner a {
      text-decoration: none;
      color: #FFFFFF;
   }

   .banner__main {
      width: 60%;
      height: 75px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;

   }

   .banner__item {
      width: 150px;
      height: 75px;
      display: flex;
      justify-content: end;
      align-items: center;
   }

   .banner__navigation {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
   }

   .banner__navigation:hover {
      width: 65px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #EC7979;
      color: #FFFFFF;
   }

   .banner__navigation:active {
      background: #AB4949;
      border: 2px solid #AB4949;
      color: #FFFFFF;
   }

   .banner__info {
      position: relative;
      display: flex;
      justify-content: center;
      justify-items: center;
   }

   .banner__title {
      width: 450px;
      height: 500px;
      position: absolute;
      transform: translate(-40%, -50%);
      top: 60%;
      left: 30%;
   }

   .banner__title h1 {
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 36px;
      color: #FFFFFF;
   }

   .banner__hr {
      width: 115px;
      height: 1px;
      background-color: #FFFFFF;
   }

   .banner__title h5 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
   }

   .banner__button {
      width: 183px;
      height: 50px;
      background-color: transparent;
      border: 2px solid #FFFFFF;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
   }

   .banner__button:hover {
      border: 2px solid #EC7979;
      color: #EC7979;
      cursor: pointer;
   }

   .banner__button:active {
      background: #AB4949;
      border: 2px solid #AB4949;
      color: #FFFFFF;
      cursor: pointer;
   }

   .banner__name {
      width: 398px;
      height: 450px;
      background-color: white;
      position: absolute;
      transform: translate(-5%, -50%);
      top: 55%;
      right: 0%;
      border-radius: 5px;
   }

   .banner__name h4 {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      color: #333333;
   }

   .banner__name span {
      color: #EC7979;
   }

   .banner__text {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #BDBDBD;
      text-align: left;
      margin: 30px;
   }

   .banner__underline {
      width: 300px;
      height: 1px;
      background-color: #BDBDBD;
      margin: 30px;
   }

   .banner__reg {
      width: 398px;
      height: 60px;
      margin-top: 46px;
      background: #EC7979;
      border: 1px solid #EC7979;
      border-radius: 0 0 5px 5px;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 15px;
      color: #FFFFFF;
   }

   .banner__reg:hover {
      background: #AB4949;
      border: 1px solid #AB4949;
      cursor: pointer;
   }

   .banner__reg:active {
      background: #EC7979;
      box-shadow: inset 0px 0px 10px #AB4949;
      cursor: pointer;
   }

   .banner__image {
      width: 100%;
      height: 100%;
   }

   .banner__img {
      width: 100%;
      filter: brightness(80%);
   }

   .banner__media {
      width: 100%;
      height: 100%;
      background-color: #F8EFEF;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 30px;
   }

   .banner__block {
      margin-left: 20px;

   }

   .banner__block h4 {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 18px;
      color: #333333;
   }

   .banner__block h5 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      color: #86878B;
   }

   .banner__icons {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }

   .registration {
      margin: 30px;
      width: 298px;
      border: 0;
      border-bottom-width: 1px;
      /* Толщина линии внизу */
      border-bottom-style: solid;
      /* Стиль линии внизу */
      border-bottom-color: #BDBDBD;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #BDBDBD;
   }

   input:focus {
      outline: none;
   }

   .tabs {
      font-size: 0;
   }

   .tabs>input[type="radio"] {
      display: none;
   }

   .tabs>div {
      /* скрыть контент по умолчанию */
      display: none;
      border: 1px solid #e0e0e0;
      padding: 10px 15px;
      font-size: 16px;
   }

   /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
   #tab-btn-1:checked~#content-1,
   #tab-btn-2:checked~#content-2,
   #tab-btn-3:checked~#content-3 {
      display: block;
   }

   .tabs>label {
      width: 150px;
      height: 30px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: #FFFFFF;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      padding: 5px 15px;
      font-size: 14px;
      line-height: 1.5;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      cursor: pointer;
      position: relative;
      top: 1px;
   }

   .tabs>label:not(:first-of-type) {
      margin-left: -5px;
   }

   .tabs>input[type="radio"]:checked+label {
      background-color: #fff;
      border-bottom: 1px solid #fff;
   }

   .tabs {
      margin: 0 auto;
      width: 100%;
      padding: 25px;
      background: #FFFFFF;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #333333;
   }

   .tabs {
      width: 100%;
   }

   .tabs__head {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #333333;
   }


   .tabs__tab-label {
      display: inline-block;
      background-color: #FFFFFF;
      height: 35px;
      line-height: 35px;
      min-width: 50px;
      padding: 0px 20px;
      text-align: center;
      text-decoration: none;
      color: #333333;
      margin: 0 -5px 0 0;
      border-top: 1px solid #C6CBCD;
      border-left: 1px solid #C6CBCD;
      border-right: 1px solid #C6CBCD;
      border-radius: 10px 10px 0 0;
   }


   .tabs__item {
      display: none;
      background-color: #fff;
      width: calc(100% - 40px);
      max-width: 100%;
      padding: 20px;
      border: 1px solid #C6CBCD;
      padding: 60px;
      /*
      display: flex;
      justify-content: space-between;
      align-items: center;
      */
      display: none;
   }

   .tabs__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .tabs__block {
      width: 700px;
      height: 400px;
      background-color: #FFFFFF;
      padding-left: 80px;
   }


   .tabs__block img {
      width: 398px;
      height: 395px;
   }


   .tabs__item:target {
      display: block;
   }

   .tabs__item:last-child {
      display: block;
   }

   .tabs__item:target~.tabs__item {
      display: none;
   }

   .tabs__title {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 24x;
      display: flex;
      align-items: center;
      color: #000000;
   }

   .tabs__description {

      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: #000000;
   }

   .tabs__button {
      width: 231px;
      height: 58px;
      background: #EC7979;
      border: 1px solid #EC7979;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
   }

   .tabs__button:hover {
      background: #AB4949;
      border: 1px solid #AB4949;
      cursor: pointer;
   }

   .tabs__button:active {
      background: #EC7979;
      box-shadow: inset 0px 0px 10px #AB4949;
      cursor: pointer;
   }

   .blok {
      width: 100%;
      margin: 0 auto;
      background-color: #FFFFFF;
   }

   .blok h2 {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: black;
   }

   .block__hr {
      width: 142px;
      height: 1px;
      background-color: #EC7979;
      margin: 0 auto;
   }

   .blok h5 {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #86878B;
   }

   .block__icons {
      width: 100%;
      margin: 0 auto;
      background-color: #FFFFFF;
      /*
      display: inline-block;
      float: left;
      */
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .icon__block {
      /* width: 370px; DELETE */
      width: 100%;
      /* NEW */
      background-color: #FFFFFF;
      text-align: center;
      margin: 50px;
      display: flex;
      justify-content: center;
   }

   .icon__cards {
      /* NEW */
      width: 318px;
      display: inline-block;
   }

   .icon__block__title {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 18px;
      color: black;
      margin: 30px 0 30px 0;
   }

   .description {
      font-family: 'Raleway', sans-serif;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      color: black;
   }

   @keyframes bounce {

      0%,
      20%,
      60%,
      100% {
         transform: translateY(0);
         transform: translateY(0);
      }

      40% {
         transform: translateY(-20px);
         transform: translateY(-20px);
      }

      80% {
         transform: translateY(-10px);
         transform: translateY(-10px);
      }
   }

   .columns__structure:hover {
      animation: bounce 2s;
   }

   .pricing {
      width: 100%;
      margin: 0 auto;
      background-color: #F5F5F5;
      padding-top: 50px;
   }

   .pricing__columns {
      display: flex;
      justify-content: center;
   }

   .pricing__info {
      width: 1024px;
   }

   .pricing__block {}

   .block__hr {
      width: 143px;
      height: 1px;
      background-color: #EC7979;
      margin: 0 auto;
   }

   .columns__cards {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
      background-color: #F5F5F5;
      display: flex;
      justify-content: space-around;
   }

   .columns__structure {}

   .pricing__block h2 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 24px;
      text-align: center;
      color: #000000;
   }

   .pricing__block h5 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #86878B;
   }

   .columns__title {
      width: 317px;
      height: 53.21px;
      background: #333333;
      border: 2px solid #F5F5F5;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .columns__price {
      width: 317px;
      height: 88.68px;
      background: #333333;
      border: 2px solid #F5F5F5;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .columns__description {
      width: 317px;
      height: 44.34px;
      background: #333333;
      border: 2px solid #F5F5F5;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .columns__gb {
      width: 317px;
      height: 44.34px;
      background: #FFFFFF;
      border: 2px solid #F5F5F5;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #86878B;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .move__block {
      /* margin-top: 30px;*/
      margin-bottom: 30px;
   }

   .shadow:hover {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

   }

   .customers {

      background-color: #FFFFFF;
      margin: 0 auto;
      padding-top: 50px;
   }

   .customers__block {}

   .customers__hr {
      width: 142px;
      height: 1px;
      background-color: #EC7979;
      margin: 0 auto;
   }

   .customers h2 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 24px;
      text-align: center;
      color: #000000;
   }

   .customers h5 {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #86878B;
   }

   .customers__columns {
      margin: 0 10px 0 10px;
      width: 1024px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .customers__card {
      width: 317px;
      height: 180px;
      background-color: #E2E2E2;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
   }

   .customers__discription {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #86878B;
   }

   .customers__triangle {
      position: relative;
      left: 70px;
      margin-bottom: 50px;
   }

   .customers__autor {
      width: 370px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }

   .customers__name {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      margin-top: 10px;
      display: flex;
      align-items: center;
   }

   .customers__pozition {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      margin-right: 60px;
      display: flex;
      align-items: center;
   }

   .customers__info {}

   .design {
      padding-top: 50px;
      width: 100%;
      height: 100%;
      height: 442px;
      position: relative;
      text-align: center;
   }

   .design__image {
      width: 100%;
      filter: brightness(80%);
   }

   img {
      width: 100%;
   }

   .design__text h2 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 24x;
      text-align: center;
      color: #FFFFFF;
   }

   .design__hr {
      width: 142px;
      height: 1px;
      background-color: #FFFFFF;
      margin: 0 auto;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .design__text h5 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .design__button {
      width: 318px;
      height: 58px;
      background-color: transparent;
      border: 2px solid #FFFFFF;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .design__button:hover {
      border: 2px solid #EC7979;
      color: #EC7979;
      cursor: pointer;
   }

   .design__button:active {
      background: #AB4949;
      border: 2px solid #AB4949;
      color: #FFFFFF;
      cursor: pointer;
   }

   .contact {
      width: 100%;
      margin: 0 auto;
      background-color: #FFFFFF;
   }

   .contact__hr {
      width: 144px;
      height: 1px;
      background-color: #EC7979;
      margin: 0 auto;
   }

   .contact__title h2 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 24px;
      text-align: center;
      color: #000000;
   }

   .contact__title h5 {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #86878B;
   }

   .contact__us {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .contact__info {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      color: #BDBDBD;
      margin-top: 40px;
   }

   .contact__underline {
      width: 486px;
      height: 1px;
      background-color: #BDBDBD;
      margin: 0 auto;
   }

   .contact__button {
      width: 318px;
      height: 58px;
      background: #EC7979;
      border: 1px solid #EC7979;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
   }

   .contact__button:hover {
      background: #AB4949;
      border: 1px solid #AB4949;
      cursor: pointer;
   }

   .contact__button:active {
      background: #EC7979;
      box-shadow: inset 0px 0px 10px #AB4949;
      cursor: pointer;
   }

   .contact button {
      margin: 0 auto;
      display: block;
   }

   .contact__block {
      padding: 50px;
   }

   .info {
      width: 486px;
      border: 0;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #BDBDBD;
   }

   textarea:focus {
      outline: none;
   }

}