@keyframes bounce {

   0%, 20%, 60%, 100% {
      transform: translateY(0);
      transform: translateY(0);
   }

   40% {
      transform: translateY(-20px);
      transform: translateY(-20px);
   }

   80% {
      transform: translateY(-10px);
      transform: translateY(-10px);
   }
}

.columns__structure:hover {
   animation: bounce 2s;
}

.pricing {
   width: 100%;
   margin: 0 auto;
   background-color: #F5F5F5;
   padding-top: 50px;
}

.pricing__columns {
   display: flex;
   justify-content: center;
}

.pricing__info {
   width: 1170px;
}

.pricing__block {}

.block__hr {
   width: 170px;
   height: 1px;
   background-color: #EC7979;
   margin: 0 auto;
}

.columns__cards {
   width: 100%;
   margin: 0 auto;
   margin-bottom: 30px;
   background-color: #F5F5F5;
   display: flex;
   justify-content: space-around;
}

.columns__structure {}

.pricing__block h2 {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   line-height: 28px;
   text-align: center;
   color: #000000;
}

.pricing__block h5 {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 16px;
   text-align: center;
   color: #86878B;
}

.columns__title {
   width: 317px;
   height: 53.21px;
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;

}

.columns__price {
   width: 317px;
   height: 88.68px;
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}

.columns__description {
   width: 317px;
   height: 44.34px;
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.columns__gb {
   width: 317px;
   height: 44.34px;
   background: #FFFFFF;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878B;
   display: flex;
   justify-content: center;
   align-items: center;
}

.move__block {
   /* margin-top: 30px;*/
   margin-bottom: 30px;
}

.shadow:hover {
   -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
   box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@media  (max-width: 1024px) {

}

@media (max-width: 320px){
   .columns__cards {
      display: block;
   }

   .pricing__block h2 {
      font-size: 24px;
      margin-bottom: 20px;
   }

   .block__hr {
      width: 134px;
      margin-bottom: 20px;
   }
   .pricing__block {
   }

   .columns__structure:hover{
      animation: none;
   }
   .pricing__block h5 {
      margin-bottom: 20px;
   }

   .pricing__columns{
      margin-bottom: 30px;
   }
}