@import "./awesome.css";
@import "./pricing.css";
@import "./tabs.css";
@import "./customers.css";
@import "./design.css";
@import "./contact.css";
@import "./footer.css";
@import "./banner.css";


body {
    /*
    margin: 0;
    */
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;
}
