.foto-tablet {
  display: none;
}

.foto-mobile {
  display: none;
}

.wrapper {
  width: 100%;
  height: 490px;
  margin: 100px auto 0;
  position: relative;
}

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

.slide1 {
  background-image: url();
  background-image: url(../img/bg.jpg);
}

.slide2 {
  background-image: url();
  background-image: url(../img/bg.jpg);
}

.slide3 {
  background-image: url();
  background-image: url(../img/bg.jpg);
}

.slide4 {
  background-image: url();
  background-image: url(../img/bg.jpg);
}

.slide5 {
  background-image: url();
  background-image: url(../img/bg.jpg);
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.wrapper > input {
  display: none;
}

.wrapper .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: background ease-in-out 0.5s;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #7E5D6F;
}

.wrapper label:after {
  border: 2px solid #7E5D6F;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}

.quote {
  width: 471px;
  height: 230px;
  position: absolute;
  transform: translate(180%, -160%);
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}

.autor {
  width: 471px;
  height: 230px;
  position: absolute;
  transform: translate(180%, -60%);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .foto-pc {
    display: none;
  }
  .foto-tablet {
    display: block;
  }
  .wrapper {
    width: 100%;
    height: 330px;
    margin: 100px auto 0;
    position: relative;
  }
  .quote {
    width: 320px;
    height: 230px;
    transform: translate(180%, -110%);
    font-size: 24px;
  }
  .autor {
    width: 320px;
    height: 330px;
    transform: translate(180%, -30%);
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .foto-pc {
    display: none;
  }
  .foto-tablet {
    display: none;
  }
  .foto-mobile {
    display: block;
  }
  .wrapper {
    width: 100%;
    height: 538px;
    margin: 100px auto 0;
    position: relative;
  }
  .quote {
    width: 270px;
    height: 100px;
    transform: translate(10%, 50%);
    font-size: 24px;
  }
  .autor {
    width: 270px;
    height: 100px;
    transform: translate(10%, 220%);
    font-size: 12px;
  }
}/*# sourceMappingURL=testimonials.css.map */